body {
  margin: auto;
  width: 960px;
}

text {
  font: 10px sans-serif;
}

header {
  text-align: center;
  margin: 20px auto;
  font-size: 24px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.line.gradient {
  stroke: url(#aqi-gradient);
}

.line.above {
  stroke: #f00;
}