body {
  margin: auto;
  width: 960px;
}

text {
  font: 10px sans-serif;
}

header {
  text-align: center;
}

header h1{
  text-align: center;
  margin: 20px auto;
  font-size: 20px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.line.gradient {
  stroke: url(#aqi-gradient);
}

.line.above {
  stroke: #f00;
}

table {
  width: 100%;
  text-align: center;
}

table tr {
  display: inline-block;
}

.container {
  text-align: center;
  width: 100%;
  height: 332px;
}

.container .body {
  height: 304px;
}
